{% extends 'web/base_template.html' %}
{% block content %}
{% load static %}



<!-----------Page Content Start------------->

<div class="page-title">
      <div class="container">
        <div class="column">
          <h1>Change Password</h1>
        </div>
        <div class="column">
        
        </div>
      </div>
    </div>    <!-- Top Categories/Deals-->
    <div class="container">
      <div class="cdbox">

<div class="row">
  <div class="col-md-6">
    <div class="row align-items-end pb-4">
             <div class="card">
                <div class="card-body">
                 
                 
                 
                  <p class="card-text">Hello pawan sharma. Congratulations you are win this product. And this product is send to your register address in 7 days.</p>
                 
                
                
                </div>
              </div>
          </div>
  </div>
  <div class="col-md-6">
    <div class="row align-items-end pb-4">
             <div class="card" style="width: 100%;">
                <div class="card-body">
                <div class="row">
                  <div class="col-md-12">

                    {% if validlink %}
                    
                      <form  method="post">
    {% csrf_token %}
  
      <div class="">
        <h3 class="p-t-b-20 text-center">Change password</h3>
        <div class="form-group has-icon"><i class="icon-user-secret"></i>
                        <!-- <input type="password" required="" name="email" class="form-control form-control-lg" placeholder="New password"> -->
                        <h6>New Password</h6>
                        {{ form.new_password1 }}
                     </div>
                     <div class="form-group has-icon"><i class="icon-user-secret"></i>
                        <!-- <input type="password" required="" name="email" class="form-control form-control-lg" placeholder="Confirm New password"> -->
                        <h6>Confirm Password</h6>
                        {{ form.new_password2 }}
                     </div>
                     <div class="row">
    
        <input type="submit" id="login_form_button" class="btn btn-primary btn-lg btn-block" value="Change Password">
      </div>
    
      </div>
   
  </form>
                    {% else %}  
               
               <div class="alert alert-success alert-dismissible" style="text-align: left;">
                      
                       <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
                    </div>  
                    {% endif %}       
               
                
  </div>
                </div>
                </div>
              </div>
          </div>
  </div>
</div>
       
      </div>
    </div>

  


   <!--products-area end-->

{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(function() {

  $("#id_new_password1").attr("placeholder", "Enter new password.");
  $("#id_new_password2").attr("placeholder", "Enter confirm password.");
    $("#id_new_password1").addClass("form-control");
    $("#id_new_password2").addClass("form-control");
    $("#id_new_password1").css("border-color","#c52241");
    $("#id_new_password2").css("border-color","#c52241");
   });
  
</script>
{% endblock %}
