{% extends 'web/base_template.html' %}
{% block content %}
{% load static %}



<!-----------Page Content Start------------->

<div class="page-title">
      <div class="container">
        <div class="column">
          <h1>Reset Password Form</h1>
        </div>
        <div class="column">
        
        </div>
      </div>
    </div>    <!-- Top Categories/Deals-->
    <div class="container">
      <div class="cdbox">

<div class="row">
  <div class="col-md-6">
    <div class="row align-items-end pb-4">
             <div class="card">
                <div class="card-body">
                 
                 
                 
                  <p class="card-text">Hello pawan sharma. Congratulations you are win this product. And this product is send to your register address in 7 days.</p>
                 
                
                
                </div>
              </div>
          </div>
  </div>
  <div class="col-md-6">
    <div class="row align-items-end pb-4">
             <div class="card" style="width: 100%;">
                <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    
                  
                 <h1>FORGOT PASSWORD?</h1>

                 {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
           <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{ error|escape }}</strong> 
                    </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger alert-dismissible" style="text-align: left;">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{ error|escape }}</strong> 
                    </div>

    {% endfor %}
{% endif %}
                  <form method="post">
    {% csrf_token %}
  <div class="row">

    <div class="col-md-12 offset-md-12 p-t-b-40">
      <div class="">
       
        <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                        <!-- <input type="text" required="" name="email" class="form-control form-control-lg" placeholder="Email Address"> -->
                        <h6>E-mail</h6>
                        {{ form.email }}
                     </div>
                     
   
   <button type="submit" id="login_form_button" class="btn btn-primary btn-lg ">Next <i class="icon-arrow-right"></i></button>
        

    
      </div>
    </div>
  
  </div>
  </form>
  </div>
                </div>
                </div>
              </div>
          </div>
  </div>
</div>
       
      </div>
    </div>

  


   <!--products-area end-->

{% endblock %}



 {% block javascript %}
 <script type="text/javascript">

  $(function() {

  $("#id_email").attr("placeholder", "Enter your register email.");
    $("#id_email").addClass("form-control");
    $("#id_email").css("border-color","#c52241");
   });
  
</script>
  {% endblock %}