{% extends 'web/base_template.html' %}
    {% block styleseet %}
 
    {% endblock %}

{% block content %}
{% load static %}


 <!-- Page Title-->
    <div class="page-title">
      <div class="container">
        <div class="column">
          <h1>My Profile</h1>
        </div>
        <div class="column">
          <ul class="breadcrumbs">
            <li><a href="index.html">Home</a>
            </li>
            <li class="separator">&nbsp;</li>
            <li><a href="account-orders.html">Account</a>
            </li>
            <li class="separator">&nbsp;</li>
            <li>My Profile</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-2">
      <div class="row">
        <div class="col-md-12">
           {% if messages %}
                   {% for message in messages %}
                     {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong>
                    </div>
                       {% endif %}

                   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong>
                    </div>
                       {% endif %}

                   {% endfor %}
               {% endif %}
        </div>
        <div class="col-lg-4">
          <aside class="user-info-wrapper">
            <div class="user-cover" style="background-image: url({% static 'web/img/account/user-cover-img.jpg' %});">
              <!-- <div class="info-label" data-toggle="tooltip" title="You currently have 290 Reward Points to spend"><i class="icon-award"></i>290 points</div> -->
            </div>
            <div class="user-info">

              <div class="user-avatar"><a class="edit-avatar" href="#">
              
              </a>

            {% if get_user_ins.Image %}
               <img src='{{get_user_ins.Image.url}}'  alt="{{get_user_ins.name}}">
            {% else %}
               {% if get_user_ins.UserImage %}
               <img src='{{get_user_ins.UserImage}}'  alt="{{get_user_ins.name}}">
               {% else %}
                <img src='{% static "web/img/account/user-ava.jpg" %}'  alt="{{get_user_ins.name}}">
                {% endif %}
            {% endif %}
              </div>
              <div class="user-data">
                <h4 class="h5">{{get_user_ins.name}}</h4><span>Joined {{get_user_ins.DOJ}}</span>
                <span><input type="file" name="user_image"   id="id_Image"></span>

              </div>
            </div>
          </aside>
          <nav class="list-group">
            <a class="list-group-item " href="{{BASE_URL}}user/my-profile">
              <i class="icon-user"></i>
              Profile
            </a>
            <a class="list-group-item with-badge" href="{{BASE_URL}}user/orders">
              <i class="icon-shopping-bag"></i>
              Orders
              <!-- <span class="badge badge-default badge-pill">6</span> -->
            </a>
            
            <a class="list-group-item active" href="{{BASE_URL}}user/address">
              <i class="icon-map-pin"></i>
              Addresses
            </a>
            <a class="list-group-item with-badge" href="{{BASE_URL}}user/product-notification">
              <i class="icon-heart"></i>
              Product For Notification
              </a>
              <a class="list-group-item with-badge" href="{{BASE_URL}}user/blog">
                <i class="icon-tag"></i>
                Blog             
              </a>
              <a class="list-group-item with-badge" href="{{BASE_URL}}user/wallet">
                <i class="icon-tag"></i>
                My-wallet             
              </a>
               <a class="list-group-item with-badge " href="{{BASE_URL}}user/complanes">
                <i class="icon-tag"></i>
                Complane/Queryes             
              </a>
            </nav>
        </div>
        <div class="col-lg-8">
          <div class="padding-top-2x mt-2 hidden-lg-up"></div>
          <form class="row" action="{{BASE_URL}}user/address" method="POST"> 
            {% csrf_token %}
            <input type="hidden" name="id" value="{{get_adress_data.id}}">
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="account-company">Country  </label>
                    {{get_form.Country}}
                    
                  </div>
                </div>
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="account-company">State</label>
                    {{get_form.State}}
                    
                  </div>
                </div>
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="account-company">City</label>
                    {{get_form.City}}
                    
                  </div>
                </div>
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="account-company">Zip Code</label>
                    {{get_form.Zip_Code}}
                    
                  </div>
                </div>
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="account-company">Address 1</label>
                    {{get_form.Address_1}}
                    
                  </div>
                </div>
                 <div class="col-md-6">
                  <div class="form-group">
                    <label for="account-company">Address 2</label>
                    {{get_form.Address_2}}
                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="account-company">Lend Mark</label>
                    {{get_form.Lend_Mark}}
                    
                  </div>
                </div>
                <div class="col-md-6 text-right">
                 <button style="margin-top: 9%;" class="btn btn-primary margin-bottom-none" type="submot" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="icon-check-circle" data-toast-title="Success!" data-toast-message="Your address updated successfuly.">Update Address</button>
                </div>
          </form>
          <hr>
        </div>

      </div>
    </div>



{% endblock %}

{% block javascript %}

{% endblock %}