{% extends 'web/base_template.html' %}
    {% block styleseet %}
 <style type="text/css">
   .scrollbar
{
  margin-top: 8px;
  float: left;
  height: 541px;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 25px;
}
.force-overflow
{
  min-height: 387px;
}
#wrapper
{
  
  width: 100%;

}
 </style>
    {% endblock %}

{% block content %}
{% load static %}


 <!-- Page Title-->
    <div class="page-title">
      <div class="container">
        <div class="column">
          <h1>User Blog</h1>
        </div>
       
      </div>
    </div>
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-2">
      
<div class="row">
  <div class="col-md-12">
    {% if messages %}
                   {% for message in messages %}
                     {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong>
                    </div>
                       {% endif %}

                   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong>
                    </div>
                       {% endif %}

                   {% endfor %}
               {% endif %}
  </div>
</div>


      <div class="row">
         <div class="col-lg-4">
          <aside class="user-info-wrapper">
            <div class="user-cover" style="background-image: url({% static 'web/img/account/user-cover-img.jpg' %});">
              <!-- <div class="info-label" data-toggle="tooltip" title="You currently have 290 Reward Points to spend"><i class="icon-award"></i>290 points</div> -->
            </div>
            <div class="user-info">

              <div class="user-avatar"><a class="edit-avatar" href="#">
              
              </a>

            {% if get_user_ins.Image %}
               <img src='{{get_user_ins.Image.url}}'  alt="{{get_user_ins.name}}">
            {% else %}
               {% if get_user_ins.UserImage %}
               <img src='{{get_user_ins.UserImage}}'  alt="{{get_user_ins.name}}">
               {% else %}
                <img src='{% static "web/img/account/user-ava.jpg" %}'  alt="{{get_user_ins.name}}">
                {% endif %}
            {% endif %}
              </div>
              <div class="user-data">
                <h4 class="h5">{{get_user_ins.name}}</h4><span>Joined {{get_user_ins.DOJ}}</span>
                <span><input type="file" name="user_image"   id="id_Image"></span>

              </div>
            </div>
          </aside>
          <nav class="list-group">
            <a class="list-group-item " href="{{BASE_URL}}user/my-profile">
              <i class="icon-user"></i>
              Profile
            </a>
            <a class="list-group-item with-badge " href="{{BASE_URL}}user/orders">
              <i class="icon-shopping-bag"></i>
              Orders
              <!-- <span class="badge badge-default badge-pill">6</span> -->
            </a>
            
            <a class="list-group-item" href="{{BASE_URL}}user/address">
              <i class="icon-map-pin"></i>
              Addresses
            </a>
            <a class="list-group-item with-badge" href="{{BASE_URL}}user/product-notification">
              <i class="icon-heart"></i>
              Product For Notification
              </a>
              <a class="list-group-item with-badge " href="{{BASE_URL}}user/blog">
                <i class="icon-tag"></i>
                Blog             
              </a>
              <a class="list-group-item with-badge" href="{{BASE_URL}}user/wallet">
                <i class="icon-tag"></i>
                My-wallet             
              </a>
               <a class="list-group-item with-badge" href="{{BASE_URL}}user/referral">
                <i class="icon-tag"></i>
                My-Refrral             
              </a>
              <a class="list-group-item with-badge active" href="{{BASE_URL}}user/complanes">
                <i class="icon-tag"></i>
                Complains/Queries             
              </a>
            </nav>
        </div>
        <div class="col-lg-8">
          <div class="padding-top-2x mt-2 hidden-lg-up"></div>
          <!-- Wishlist Table-->
          <div class="table-responsive wishlist-table mb-0">
           <div class="row">
             <div class="col-md-12 text-right">

              <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalLarge">Add Complain/Query</button>
                
             </div>
           </div>
           <div id="wrapper">
  <div class="scrollbar" id="style-default">
  <div class="force-overflow">
            <table class="table">
               <thead>
                <tr>
                  <th>Complain  id</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Complain Date</th>
                  <th>Update date</th>
                </tr>
              </thead>
              <tbody>
               


                {% if get_all_complate %}
                {% for item in get_all_complate %}
<tr>
                  <td > 
                    
                    <a href="#" class="view_repot" data-id="{{item.Complate_id}}"> <u>#{{item.Complate_id}}</u></a>
                  </td>
                  <td >{{item.Title}}</td>
                

                  <td>
                  {% if item.Open_status%}
                  <img src='{% static "web/true_image.jpg" %}' style="width: 20px;" >
                
                  {% else %}
                   <img src='{% static "web/false_image.jpg" %}' style="width: 20px;" >
               
                  {% endif %}
                  </td>
                  
                  <td>{{item.Crate_date}}</td>
                  <td>{{item.Update_date}}</td>
                
                </tr>
                {% endfor %}
                {% else %}
                
                {% endif %}

            
                
                
              </tbody>
            </table>
             </div>
   </div>
 </div>   
          </div>
          <hr class="mb-4">
          
        </div>
      </div>
    </div>




<!-- Large Modal-->
    <div class="modal fade" id="modalLarge" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Complain</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
           <form action="{{BASE_URL}}user/complanes" method="POST">
            {% csrf_token %}
             <div class="form-group">
                <label for="normal-rounded-input">Title</label>
                
                {{lsqeruesform.Title}}

              </div>
              <div class="form-group">
                <label for="normal-rounded-input">Description</label>
                {{lsqeruesform.description}}
              </div>
              <button type="submit" class="btn btn-primary">Add Complain</button>
           </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>

<!-- Large Modal-->
    <div class="modal fade" id="modalLarge_complane_info" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Complain Info</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
           <div class="blog-post">
                <div class="post-body">
                  <ul class="post-meta">
                    <li><i class="icon-user"></i><a href="#" id="show_complane_id"></a></li>
                    <li><i class="icon-clock"></i><a href="#" id="show_complane_date"></a></li>
                    <li><i class="icon-tag"></i><a href="#" id="show_complane_status"></a></li>
                  </ul>
                  <h2 id="show_complane_title"></h2>
                  <h3 class="post-title">Message</h3>
                  <p id="show_message"></p>
                  <br>
                  <hr>
                  <h3 class="post-title">Response</h3>
                  <p id="show_Response"></p>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascript %}


<script type="text/javascript">
  
  $(document).on("click",".view_repot",function(){
    var complane_id = $(this).data("id");
    $.ajax({
       method:"POST",
       url:"{{BASE_URL}}user/complanes/get-info",
       data:{"complane_id":complane_id},
       dataType:"JSON",
       success:function(data)
       {
        
    var set_for_winner_status = '<img src='+"'"+'{% static "web/false_image.jpg" %}'+"'"+' style="width: 20px;" >';
                if(data.data.Open_status == true)
                {
                  set_for_winner_status = '<img src='+"'"+'{% static "web/true_image.jpg" %}'+"'"+' style="width: 20px;" >'
                }

        $("#modalLarge_complane_info #show_complane_id").text(data.data.Complate_id);
        $("#modalLarge_complane_info #show_complane_date").text(data.data.Crate_date);
        $("#modalLarge_complane_info #show_complane_title").text(data.data.Title);
        $("#modalLarge_complane_info #show_complane_status").html(set_for_winner_status);
        $("#modalLarge_complane_info #show_message").text(data.data.description);
        $("#modalLarge_complane_info #show_Response").text(data.data.Answer);
        $("#modalLarge_complane_info").modal("show");
       } 

    });  
  });

</script>

{% endblock %}