{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{page_title}} | LuckHunter
    </title>
 <link rel="shortcut icon" id="favicon" href="{{BASE_URL}}media/project/favicon/2020/06/14/touch-icon-iphone.png" type="image/vnd.microsoft.icon" />
    <!-- SEO Meta Tags-->
   {% load socialaccount %}
{% providers_media_js %}
    <meta name="description" content="{{get_product.Meta_Description}}{{get_blog.Meta_Description}}" />
    <meta name="title" content="{{get_product.Meta_Title}}{{get_blog.Meta_Title}}" />

    <meta name="keywords" content="{{get_product.Meta_Keyword}}{{get_blog.Meta_Keyword}}" />
    <!-- Mobile Specific Meta Tag-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href='{% static "web/css/vendor.min.css" %}' >
    <!-- Main Template Styles-->
    <link id="mainStyles" rel="stylesheet" media="screen" href='{% static "web/css/styles.min.css" %}' >
    <!-- Customizer Styles-->

    <link rel="stylesheet" media="screen" href='{% static "web/customizer/customizer.min.css" %}'>
<link href='{% static "web/summernote/summernote.min.css" %}' rel="stylesheet">
<link rel="stylesheet" href='{% static "web/cropme/croppie.css" %}'  type="text/css">
<link rel="stylesheet" href='{% static "web/dist/css/lightbox.min.css" %}'>
    <script src='{% static "web/js/modernizr.min.js" %}'></script>




    {% block styleseet %}
    {% endblock %}
<style type="text/css">
  .se-pre-con {
   display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999999;
  background: url({{BASE_URL}}media/loader.gif) center no-repeat rgba(0,0,0,0.5);
}

   .scrollbar_atc
{
  margin-top: 8px;
  float: left;
  height: 387px;
  width: 100%;
  overflow-y: scroll;
  margin-bottom: 25px;
}
.force-overflow_atc
{
  min-height: 387px;
}
#wrapper_atc
{
  
  width: 100%;

}



</style>
  <style>
  .footer-new{
  background-position: center bottom;
    background-color: #232323;
    background-repeat: no-repeat;
  padding:15px 0px;
  }
  
  .copyright {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 0px;
}

.footer-menu {
    margin: 0px;
    padding: 0px;
    text-align: right;
}

.footer-menu li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}

.footer-menu li a {
    list-style: none;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0px 10px;
}

.footer-menu li a:hover {
    color: rgba(255, 255, 255, 0.5);
}


.set_image_size_dsp{
	width: 35px;
}
  </style>
  </head>
  <!-- Body-->
  <body>
   <input type="hidden" name="" id="get_page_title" value="{{page_title}}"> 
  <div class="se-pre-con"></div>
    <div class="customizer-backdrop"></div>
    <div class="customizer">
<!--      <div class="customizer-toggle"><i class="icon-settings"></i></div>-->
      <div class="customizer-body">
        <div class="btn-group mb-4">
          <button class="btn btn-white btn-rounded btn-block dropdown-toggle my-0" type="button" data-toggle="dropdown">Choose Template</button>
          <div class="dropdown-menu"><a class="dropdown-item" href="http://themes.rokaux.com/unishop/v3.2.1/template-1/index.html">Template 1 (Clothing)</a><a class="dropdown-item" href="http://themes.rokaux.com/unishop/v3.2.1/template-2/index.html">Template 2 (Furniture)</a><a class="dropdown-item" href="index.html">Template 3 (Electronics)</a></div>
        </div>
        <div class="customizer-title">Choose color</div>
        <div class="customizer-color-switch"><a class="active" href="#" data-color="default" style="background-color: #0055ff;"></a><a href="#" data-color="a0cd32" style="background-color: #a0cd32;"></a><a href="#" data-color="e61923" style="background-color: #e61923;"></a><a href="#" data-color="ff9900" style="background-color: #ff9900;"></a></div>
        <div class="customizer-title">Header option</div>
        <div class="form-group">
          <select class="form-control form-control-rounded input-light" id="header-option">
            <option value="sticky">Sticky</option>
            <option value="static">Static</option>
          </select>
        </div>
        <div class="customizer-title">Footer option</div>
        <div class="form-group">
          <select class="form-control form-control-rounded input-light" id="footer-option">
            <option value="dark">Dark</option>
            <option value="light">Light</option>
          </select>
        </div><a class="btn btn-primary btn-rounded btn-block margin-bottom-none" href="https://wrapbootstrap.com/theme/unishop-universal-e-commerce-template-WB0148688/?ref=rokaux">Buy Unishop</a>
      </div>
    </div>
    <!-- Header-->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <header class="site-header navbar-sticky">
      <!-- Topbar-->
      <div class="topbar d-flex justify-content-between">
        <!-- Logo-->
        <div class="site-branding d-flex"><a class="site-logo align-self-center" href="{{BASE_URL}}" id="show_logo_image">
          <img src='{% static "web/img/logo/logo.png" %}'  alt="Unishop">
        </a></div>
        <!-- Search / Categories-->
        <div class="search-box-wrap d-flex show_header_banner" >
         
        </div>
        <!-- Toolbar-->
        <div class="toolbar d-flex">
          <div class="toolbar-item visible-on-mobile mobile-menu-toggle"><a href="#">
              <div><i class="icon-menu"></i><span class="text-label">Menu</span></div></a></div>

         


            {% if user.username == ""  %}
          <div class="toolbar-item hidden-on-mobile"><a href="#" data-toggle="modal" data-target="#modalCentered">
              <div><i class="icon-user"></i><span class="text-label">Sign In / Up</span></div></a>
            <div class="toolbar-dropdown text-center px-3">
              <p class="text-xs mb-3 pt-2">Sign in to your account or register new one to have full control over your orders, receive bonuses and more.</p><a class="btn btn-primary btn-sm btn-block" href="#" data-toggle="modal" data-target="#modalCentered">Sign In</a>
              <p class="text-xs text-muted mb-2">New customer?&nbsp;<a href="#" data-toggle="modal" data-target="#modalCenteredRegistration">Register</a></p>
            </div>
          </div>
          {% else %}
          <div class="toolbar-item hidden-on-mobile"><a href="{{BASE_URL}}user/my-profile">
              <div>
              	<img src="{{user.id|get_user_image}}"  class="set_image_size_dsp"  >
		
              	<span class="text-label">{{user.first_name}}</span></div></a>
            <div class="toolbar-dropdown text-center px-3">
             
              <p class="text-xs text-muted mb-2">Go to ?&nbsp;<a href="{{BASE_URL}}user/my-profile">Dasktop</a></p>
              <p class="text-xs mb-3 pt-2"></p><a class="btn btn-primary btn-sm btn-block" href="{{BASE_URL}}account/logout" >Logout</a>
            </div>
          </div>
          {% endif %}

          <div class="toolbar-item"><a href="{{BASE_URL}}user/orders/my-card">
              <div><span class="cart-icon"><i class="icon-shopping-cart"></i><span class="count-label set_count_of_add_to_card_product" >0</span></span><span class="text-label">Cart</span></div></a>

           <!--  <div class="toolbar-dropdown cart-dropdown widget-cart hidden-on-mobile show_product_of_add_to_card">
             
             
             
              <div class="text-right">
                <p class="text-gray-dark py-2 mb-0 show_total_amount"></p>
              </div>
              <div class="d-flex">
                <div class="pr-2 w-50"><a class="btn btn-secondary btn-sm btn-block mb-0" href="cart.html">Expand Cart</a></div>
                <div class="pl-2 w-50"><a class="btn btn-primary btn-sm btn-block mb-0" href="checkout.html">Checkout</a></div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
          </div>
        </div>
        <!-- Mobile Menu-->
        <div class="mobile-menu">
          <!-- Search Box-->
          <div class="mobile-search show_header_banner" style="padding-right: 10px; padding-bottom: 0px;padding-left: 10px;">
           
          </div>

          <!-- Toolbar-->
          <div class="toolbar">
             {% if user.username == ""  %}
            <div class="toolbar-item"><a href="#" data-toggle="modal" data-target="#modalCentered">
                <div><i class="icon-user"></i><span class="text-label">Sign In</span></div></a></div>
                <div class="toolbar-item"><a href="#" data-toggle="modal" data-target="#modalCentered">
                <div><i class="icon-user"></i><span class="text-label">Sign Up</span></div></a></div>
              {% else %}
              <div class="toolbar-item"><a href="{{BASE_URL}}user/my-profile" >
                <div><img src="{{user.id|get_user_image}}"  class="set_image_size_dsp"  ><span class="text-label">{{user.first_name}}</span></div></a></div>
                <div class="toolbar-item"><a href="{{BASE_URL}}account/logout" >
                <div><i class="icon-log-out"></i><span class="text-label">Logout</span></div></a></div>
                {% endif %}
          </div>
          <!-- Slideable (Mobile) Menu-->

          <nav class="slideable-menu">
            <ul class="menu" data-initial-height="385">
              <li class="has-submenu page_Home" >
    <a href="{% url 'home:index' %}">Home</a></li>
            <li class="has-submenu page_Products"  data-page=""><a href="{% url 'home:all_products' %}">Products</a></li>
            <li class="has-submenu page_Running"><a href="{% url 'home:running_bid' %}">Running Bids</a></li>
            <li class="has-submenu page_This_Month" ><a href="{% url 'home:this_month_bid' %}">This Month Bids</a></li>
            <li class="has-submenu page_Winners" ><a href="{% url 'home:winners' %}">Winners</a></li>
             {% if user.username == ""  %}
              <li class="has-submenu page_Account" ><a href="#" data-toggle="modal" data-target="#modalCentered">Account</a></li>
             {% else %}
              <li class="has-submenu page_Account" ><a href="{{BASE_URL}}user/my-profile">Account</a></li>
             {% endif %}
           
            
            <li class="has-submenu page_Blog" ><a href="{{BASE_URL}}blog">Blog</a></li>
            <li class="has-submenu page_Sale" ><a href="{{BASE_URL}}sale">Sale</a></li>
            <li class="has-submenu page_upcoming_product" ><a href="{{BASE_URL}}upcoming-products">
              <button type="button" class="btn btn-success btn-sm">Upcoming-Products</button>
            </a></li>
              
            </ul>
          </nav>
        </div>
      </div>
      <!-- Navbar-->
      <div class="navbar">
        <div class="btn-group categories-btn">
          <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"><i class="icon-menu text-lg"></i>&nbsp;Categories</button>
          <div class="dropdown-menu mega-dropdown">
            <div class="row" id="show_categoryes">
               
            </div>
          </div>
        </div>
        <!-- Main Navigation-->
        <nav class="site-menu">
          <ul>
            <li class="has-submenu page_Home" ><a href="{% url 'home:index' %}">Home</a></li>
            <li class="has-submenu page_Products"data-page=""><a href="{% url 'home:all_products' %}">Products</a></li>
            <li class="has-submenu page_Running" ><a href="{% url 'home:running_bid' %}">Running Bids</a></li>
            <li class="has-submenu page_This_Month"><a href="{% url 'home:this_month_bid' %}">This Month Bids</a></li>
            <li class="has-submenu page_Winners" ><a href="{% url 'home:winners' %}">Winners</a></li>
             {% if user.username == ""  %}
              <li class="has-submenu page_Account" ><a href="#" data-toggle="modal" data-target="#modalCentered">Account</a></li>
             {% else %}
              <li class="has-submenu page_Account"><a href="{{BASE_URL}}user/my-profile">Account</a></li>
             {% endif %}
           
            
            <li class="has-submenu page_Blog" ><a href="{{BASE_URL}}blog">Blog</a></li>
             <li class="has-submenu page_Sale" ><a href="{{BASE_URL}}sale">Sale</a></li>
            <li class="has-submenu page_upcoming_product"><a href="{{BASE_URL}}upcoming-products">
              <button type="button" class="btn btn-success btn-sm">Upcoming-Products</button>
            </a></li>
            
          </ul>
        </nav>
        <!-- Toolbar ( Put toolbar here only if you enable sticky navbar )-->
        <div class="toolbar">
          <div class="toolbar-inner">
             {% if user.username == ""  %}
          <div class="toolbar-item hidden-on-mobile"><a href="#" data-toggle="modal" data-target="#modalCentered">
              <div>
              	<i class="icon-user"></i>

              	<span class="text-label">Sign In / Up</span></div></a>
            <div class="toolbar-dropdown text-center px-3">
              <p class="text-xs mb-3 pt-2">Sign in to your account or register new one to have full control on your orders, receive bonus and more.</p><a class="btn btn-primary btn-sm btn-block" href="#" data-toggle="modal" data-target="#modalCentered">Sign In</a>
              <p class="text-xs text-muted mb-2">New customer?&nbsp;<a href="#" data-toggle="modal" data-target="#modalCenteredRegistration">Register</a></p>
            </div>
          </div>
          {% else %}
          <div class="toolbar-item hidden-on-mobile"><a href="{{BASE_URL}}user/my-profile">
              <div>
				<img src="{{user.id|get_user_image}}"  class="set_image_size_dsp"  >

              	<span class="text-label">{{user.first_name}}</span></div></a>
            <div class="toolbar-dropdown text-center px-3">
             
              <p class="text-xs text-muted mb-2">Go to ?&nbsp;<a href="{{BASE_URL}}user/my-profile">Dasktop</a></p>
              <p class="text-xs mb-3 pt-2"></p><a class="btn btn-primary btn-sm btn-block" href="{{BASE_URL}}account/logout" >Logout</a>
            </div>
          </div>
          {% endif %}

                
            <div class="toolbar-item"><a href="{{BASE_URL}}user/orders/my-card">
                <div><span class="cart-icon"><i class="icon-shopping-cart"></i><span class="count-label set_count_of_add_to_card_product">3   </span></span><span class="text-label">Cart</span></div></a>
              <!-- <div class="toolbar-dropdown cart-dropdown widget-cart show_product_of_add_to_card">
             
               
                <div class="text-right">
                  <p class="text-gray-dark py-2 mb-0 show_total_amount"></p>
                </div>
                <div class="d-flex">
                  <div class="pr-2 w-50"><a class="btn btn-secondary btn-sm btn-block mb-0" href="cart.html">Expand Cart</a></div>
                  <div class="pl-2 w-50"><a class="btn btn-primary btn-sm btn-block mb-0" href="checkout.html">Checkout</a></div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Page Content-->
{% block content %}

{% endblock %}

    <!-- Site Footer-->
    <footer class="site-footer" style="background-image: url(img/footer-bg.png);">
      <div class="container">
        <!-- Copyright-->
        <div class="row">
          <div class="col-md-6">
            <p class="footer-copyright">© <span id="title_of_footer"></span>, LLC All Rights Reserved <i class="icon-heart text-danger"></i> &nbsp; by <a href="http://notageeks.com/" target="_blank"><u>Not A Geeks</u></a></p>
             <!-- <span id="domein_of_footer"></span> -->
          </div>
          <div class="col-md-6 text-right">
            <ul class="footer-menu">
               {{"dummt_data"|get_page_link}}

               
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Back To Top Button--><a class="scroll-to-top-btn" href="#"><i class="icon-chevron-up"></i></a>





<!-- registration Centered Modal-->
    <div class="modal fade" style="z-index: 99999;" id="modalCenteredRegistration" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">No Account? Register</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
          
            <h4 class="margin-bottom-1x">Registration takes less than a minute but gives you full control on your orders.</h4>
          <form  action="#" method="post" id="sign_up_data">
           <div class="row">
              <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group input-group">
                <input class="form-control" type="text" name="first_name" required="true" placeholder="First Name" required=""><span class="input-group-addon"><i class="icon-user"></i></span>
              </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group input-group">
                <input class="form-control" type="text" name="last_name" required="true" placeholder="Last Name" required=""><span class="input-group-addon"><i class="icon-user"></i></span>
              </div>
              </div>
            </div>
           </div>
           <div class="row">
             <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group input-group">
                <input class="form-control" type="email" name="email" required="true" placeholder="Email address" required=""><span class="input-group-addon"><i class="icon-mail"></i></span>
              </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
               <div class="form-group input-group">
                <input class="form-control" type="number" name="phone_no" required="true" placeholder="Phone No." required=""><span class="input-group-addon"><i class="icon-phone"></i></span>
              </div>
              </div>
            </div>
           </div>
           <div class="row">
               <div class="col-sm-6">
              <div class="form-group">
                <div class="form-group input-group">
                <input class="form-control" type="password" id="pass_1" name="password" placeholder="Password" required=""><span class="input-group-addon"><i class="icon-lock"></i></span>
              </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
               <div class="form-group input-group">
                <input class="form-control" type="password" id="pass_2"  name="confirm_password" placeholder="Confirm Password" required=""><span class="input-group-addon"><i class="icon-lock"></i></span>
              </div>
              </div>
            </div>
           </div>
            <div class="row">
              <div class="col-md-8" id="show_message"></div>
             <div class="col-4 text-center text-sm-right">
              <button class="btn btn-primary margin-bottom-none" id="set_sign_up_button" type="submit">Register</button>
            </div>  
            </div>
            
          </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>


<!-- Vertically Centered Modal-->
    <div class="modal fade" id="modalCentered" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Login User</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <a class="btn btn-sm btn-block facebook-btn" href='{% provider_login_url "facebook" method="js_sdk" %}'><i class="socicon-facebook"></i>&nbsp;Facebook login</a>
              </div>
              <div class="col-md-4">
                <a class="btn btn-sm btn-block twitter-btn" href='{% provider_login_url "twitter" %}'><i class="socicon-twitter"></i>&nbsp;Twitter login</a>
              </div>
              <div class="col-md-4">
                <a class="btn btn-sm btn-block google-btn" href='{% provider_login_url "google" %}'><i class="socicon-googleplus"></i>&nbsp;Google+ login</a>
              </div>
            </div>
            <h4 class="margin-bottom-1x">Or using form below</h4>
            <form action="#" method="post" id="login_form">
              <input type="hidden" name="set_redirect_url" id="set_redirect_url" value="">
              <div class="form-group input-group">
                <input class="form-control" type="email" placeholder="Email" name="email" required=""><span class="input-group-addon"><i class="icon-mail"></i></span>
              </div>
              <div class="form-group input-group">
                <input class="form-control" type="password" name="password" placeholder="Password" required=""><span class="input-group-addon"><i class="icon-lock"></i></span>
              </div>
              <div class="d-flex flex-wrap justify-content-between padding-bottom-1x">
                <!-- <a class="navi-link" href="{{BASE_URL}}password_reset/">Forgot password?</a> -->
                <p class="text-xs text-muted mb-2">New customer?&nbsp;<a href="#" data-toggle="modal" data-target="#modalCenteredRegistration">Register</a></p>
              </div>

              <div class="row">
                <div class="col-md-9" id="show_login_form_error"></div>
                <div class="col-md-3">
                  <div class="text-center text-sm-right">
                <button class="btn btn-primary margin-bottom-none" id="login_form_button" type="submit">Login</button>
              </div>
                </div>
              </div>
              
            </form>

          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>



<!-- Vertically Centered Modal-->
    <div class="modal fade" id="do_payments" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Payments Method</h4>
            <a href="#"><button class="close " onclick="click_to_close_payment_modal();" type="button" ><span aria-hidden="true">&times;</span></button></a>
          </div>
          <div class="modal-body">
            <input type="hidden" name="" id="order_id_set_for_payment" value="">
            <div class="row" >
              <div class="col-md-6" id="add_paytm_button">
              <button class="btn btn-primary">Pay with Paytm</button>
              </div>
              <div class="col-md-4" style="display: none;"  id="add_paypal_button" >
                 
                              </div>
              <div class="col-md-6" id="add_wallet_button">
                  
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12" id="dummy_payment">
                
              </div>
            </div> -->
           

          </div>
          <div class="modal-footer">
            <a href="{{BASE_URL}}"><button class="btn btn-outline-secondary btn-sm" type="button">Close</button></a>
           
          </div>
        </div>
      </div>
    </div>


<!-- Vertically Centered Modal-->
    <div class="modal fade" id="share_payments" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Payments Share <span id="show_amount"></span></h4>
            <a href="#"><button class="close " onclick="click_to_close_payment_modal();" type="button" ><span aria-hidden="true">&times;</span></button></a>
          </div>
          <div class="modal-body">
            <input type="hidden" name="share_payment" id="share_payment" value="">
            <input type="hidden" name="walet_id" id="walet_id" value="">
            <input type="hidden" name="walet_code" id="walet_code" value="">
            <div class="row">
              <div class="col-md-12" id="show_message_for_share_payment"></div>
            </div>
            <div class="row">
              <div class="col-md-12" id="show_input_box_wallet_id"></div>
            </div>
            <div class="row">
              <div class="col-md-12" id="show_input_show_wallet_info"></div>
            </div>
             <div class="row">
              <div class="col-md-12" id="show_input_box_wallet_code"></div>
            </div> 
          </div>
          <div class="modal-footer">
            <a href="{{BASE_URL}}"><button class="btn btn-outline-secondary btn-sm" type="button">Close</button></a>
           
          </div>
        </div>
      </div>
    </div>


<!-- Vertically Centered Modal-->
    <div class="modal fade" id="wallet_code_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h6 class="modal-title">Order Id<span id="order_id_set_2"></span></h6>
            <a href="#"><button class="close " onclick="click_to_close_payment_modal();" type="button" ><span aria-hidden="true">&times;</span></button></a>
          </div>
          <div class="modal-body">
            
            
            <div class="row">
              <div class="col-md-12" id="show_error_for_order_by_walllet_"></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <form class="input-group form-group" id="order_by_my_wallet" method="get"><span class="input-group-btn">
                  <input type="hidden" name="order_id_set" id="order_id_set" value="">
                  <button type="submit"><i class="icon-send"></i></button></span>
                <input class="form-control" required="" type="text" name="wallet_code" placeholder="Enter your wallet code">
              </form>
              </div>
            </div>
           <a href="{{BASE_URL}}user/wallet" target="_blank" data-set_attribute="modal" >Go to wallet <img style="height: 25px; width: 25px;" src="/static/web/img/user-wallet.png" alt="deepak singh patel"></a>
          </div>
          <div class="modal-footer">
            <a href="{{BASE_URL}}"><button class="btn btn-outline-secondary btn-sm" type="button">Close</button></a>
           
          </div>
        </div>
      </div>
    </div>


<div id="uploadimageModal_edit" class="modal" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload & Crop Image</h4>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-md-8 text-center">
                  <div id="image_demo_edit" style="width:350px; margin-top:30px"></div>
               </div>
               <div class="col-md-4" style="padding-top:30px;">
                  <br />
                  <br />
                  <br/>
                  <div class="row">
                     <div class="col-md-12 set_loader"></div>
                  </div>
                  <!--<button class="btn btn-success crop_image_edit">Crop Image</button>-->
               </div>
            </div>
         </div>
         <div class="modal-footer">
             <button class="btn btn-success crop_image_edit">Save Image</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>


<form class="form-horizontal" method="POST" id="payment-form" style="display: none;">


<input type="hidden" id="stripe_amount" name="amount" value="{{amounte_get}}" class="form-control cpy">
<input type="hidden" id="package_id" name="order_id" value="{{packeg_id_get}}" class="form-control cpy">
<input type="hidden" id="access_token" name="stripeToken"  class="form-control cpy">
<input type="hidden" id="description" name="description" value="{{get_package.Package_name}}"  class="form-control cpy">


</form>


    <!-- Backdrop-->
    <div class="site-backdrop"></div>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
 <script type="text/javascript">
   var base_url = "{{BASE_URL}}";
 </script>



    <script src='{% static "web/js/vendor.min.js" %}' ></script>
    <script src='{% static "web/js/scripts.min.js" %}'></script>
    <!-- Customizer scripts-->
    <script src='{% static "web/customizer/customizer.min.js" %}'></script>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>
 <script src='{% static "web/cropme/croppie.js" %}' ></script>
  <script src='{% static "web/cropme/croppie_user_image.js" %}' ></script>
<script src='{% static "web/summernote/summernote.min.js" %}'></script>
<script src='{% static "web/custom.js" %}'></script>
<script src='{% static "web/dist/js/lightbox.js" %}'></script>




{% if set_login == "do_login" %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#modalCentered").modal("show");
  });
</script>
{% endif %}





<!-- Vertically Centered Modal-->
    <div class="modal fade" id="show_coine_history_of_user" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="max-width: 1054px;">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Coins History</h4>
           <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <div class="modal-body">
            

          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>




<script type="text/javascript">
	$(document).ready(function(){
         
         $(".show_coins_history").click(function(){
             
         $.ajax({
             method:"GET",
             url:"{{BASE_URL}}account/coins-history",
             data:'html',
             success:function(data)
             {
             	$("#show_coine_history_of_user .modal-body").html(data);
             	$("#show_coine_history_of_user").modal('show');
             }
         });


             

         });
	});
</script>



<script type="text/javascript">
  $(document).ready(function(){
   var url  = window.location.href;

   if(url.indexOf('refrral-code') != -1){
    var url_split = url.split('=');
         $.ajax({
          method:"GET",
          url:"{{BASE_URL}}set_cookes/"+url_split[1],
          dataType:"htnml",
          success:function(data)
          {

            console.log(data);
          }
        });
         $("#modalCentered").modal("show");
    }


  });
</script>




<script type="text/javascript">

$(document).ready(function() {
  $('#id_Blog_description').summernote({
    height: 300
  });
});


// ----------------copy to clipbord start----------

// ----------------copy to clipbord end----------
''

// var handler = StripeCheckout.configure({
//   key: 'dfjkgdfhjkguiogfjknj',
//   image: '{{BASE_URL}}static/web/img/logo/logo.png',
//   locale: 'auto',
//   token: function(token,args) {
//      $(".se-pre-con").css("display","block");
//     // You can access the token ID with `token.id`.
//     $('#access_token').val(token.id);
//     $.ajax({
//       url: '{{BASE_URL}}stripe-payment/do-payments',
//       data: $('#payment-form').serialize(),     
//       type: 'POST',
//       dataType: 'JSON',
//       success: function(response){
//                console.log(response);
//          // ---------------update order_status start--------
//        if(response.status == "succeeded")
//        {
//         $.ajax({
//           url: '{{BASE_URL}}stripe-payment/update-order-status',
//           data: {"order_id":response.order_id,"trans_id":response.trans_id},     
//           type: 'POST',
//           dataType: 'JSON',
//           success: function(response){
//              if(response.set_root=="wallet")
//             {
//                window.location.href = "{{BASE_URL}}user/wallet";
//             }
//             else{
//               window.location.href = "{{BASE_URL}}user/orders";
//             }

               
//              }
//            });
//         }
//        else
//        {
//           alert("payment is not done.");
//        }
//         // ---------------update order_status END--------
//       },

//       error: function(error){
//         // console.log(error);
//         $(".se-pre-con").css("display","none");
//           swal({
//             title: "Your card does not support this type of purchase. please use other card ",
//             icon: "warning",
//             buttons: true,
//             dangerMode: true,
//           })
//       }

//     });

//   }

// });





function do_payment_by_stripe(order_id)
{
      $(".se-pre-con").css("display","block");
      $.ajax({
        url: '{{BASE_URL}}user/orders/get-order-info',
        data: {"order_id":order_id},     
        type: 'POST',
        dataType: 'JSON',
        success: function(response){
          console.log(response.status);
          $(".se-pre-con").css("display","none");
          if(response.status == "1")
          {

var amount = parseInt(response.data.total_payment)*100;
            $("#stripe_amount").val(amount);
            $("#package_id").val(response.data.order_id);
            $("#description").val("Payment for "+response.data.order_id);
                // handler.open({
                //    name: "{{BASE_URL}}",
                //    description: response.data.order_id,
                //    amount:  amount,
                //    currency:'INR'
                //  });
          }
          else
          {
            alert(response.message);
          }
        }        
      });

}




  $(document).ready(function(){





$("#login_form").submit(function(event) {
  $(".se-pre-con").css("display","block");
event.preventDefault();
$("#login_form_button").prop("disabled", true);


var get_urls = $("#set_redirect_url").val();
 $.ajax({
               method:"POST",
               url:base_url+"account/login-user",
               data:$('#login_form').serializeArray(),
               dataTyep:"json",
               success:function(data)
               {
                $(".se-pre-con").css("display","none");
               $("#set_sign_up_button").prop("disabled", false);
                 if(data.status=="0")
                 {
                    $("#show_login_form_error").html('<div class="alert alert-danger"><strong></strong>'+data.message+'</div>');
                 }
                 else
                 {
                  if(get_urls != '')
                  {
                    window.location.href = get_urls;
                  }
                  else
                  {
                    // window.location.href = base_url+"dashboard";
                    window.location.href = base_url+"user/my-profile";

                  }


                   
                 }
                 $("#login_form_button").prop("disabled", false);
                 $("#set_sign_up_button").text('Sign Up Now');
                }
              });
});




         $("#sign_up_data").submit(function(event) {
      $(".se-pre-con").css("display","block");
       event.preventDefault();
       $("#set_sign_up_button").prop("disabled", true);
          
          var pass1= $("#pass_1").val();
          var pass2= $("#pass_2").val();
          if(pass1 == pass2)
           {
             $.ajax({
               method:"POST",
               url:base_url+"account/register",
               data:$('#sign_up_data').serializeArray(),
               dataTyep:"json",
               success:function(data)
               {
                $(".se-pre-con").css("display","none");
               $("#set_sign_up_button").prop("disabled", false);
                 if(data.status=="0")
                 {
                    $("#show_message").html('<div class="alert alert-danger"><strong></strong> '+data.message+'</div>');
                 }
                 else
                 {
                   $("#show_message").html('<div class="alert alert-success"><strong></strong> '+data.message+'</div>');

                 }
                }
              });
           }
           else
           {
            $(".se-pre-con").css("display","none");
               $("#set_sign_up_button").prop("disabled", false);
            $("#show_message").html('<div class="alert alert-danger"><strong>Password is not matched.</strong></div>');
           }   

            
     });
  })


  function create_wallet(urls,message,done,fail)
         {
          
         swal({
            title: message,
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
             window.location.href = urls;           
            } else {
              swal(fail);
            }
          });
         }  


  function remove_product(urls,message,done,fail)
         {
          
         swal({
            title: message,
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
            $(".se-pre-con").css("display","block");  
             window.location.href = urls;           
            } else {
              swal(fail);
            }
          });
         }  
</script>

<script type="text/javascript">
  
  $(document).ready(function(){
// set_count_of_add_to_card_product
get_all_product_of_add_to_card();

  });

  function get_all_product_of_add_to_card()
  {
    var get_total_amount = 0;

    $.ajax({
              method:"POST",
               url:"{{BASE_URL}}user/orders/get-add-to-card-product",
               dataTyep:"json",
               success:function(data){
                  if(data.data)
                  {
                    if(data.data["0"]=="" ||  data.data["0"]==undefined)
                    {
                   $(".set_count_of_add_to_card_product").html('<span>0</span');
                    }
                    else
                    {
                      $(".set_count_of_add_to_card_product").html('<span>'+data.data.length+'</span');
                    }

                    
                    for(var i=0; i<data.data.length; i++)
                    {
                       get_total_amount +=data.data[i].Product.Price_pr_ticket;
                      // console.log(data.data[i].Ticket_no);
                       $(".show_product_of_add_to_card").prepend('<div class="entry"><div class="entry-thumb"><a href="{{BASE_URL}}product/'+data.data[i].Product.slug+'/'+data.data[i].Product.Product_id+'"><img src="'+data.data[i].Product.Image+'" alt="Product"></a></div><div class="entry-content"><h4 class="entry-title"><a href="{{BASE_URL}}product/'+data.data[i].Product.slug+'/'+data.data[i].Product.Product_id+'">'+data.data[i].Product.Product_name+'</a></h4><span class="entry-meta">Rs. '+data.data[i].Product.Price_pr_ticket+' For '+data.data[i].Ticket_no+' </span></div><div class="entry-delete" onclick="remove_product('+"'"+'{{BASE_URL}}user/orders/remove-product/'+data.data[i].id+''+"'"+','+"'"+'Do you want to remove this product ?'+"'"+','+"'"+'Product removed from add to card.'+"'"+','+"'"+'Product not removed.'+"'"+');"><i class="icon-x"></i></div></div>');
                    }
                    console.log(get_total_amount);
                    $(".show_total_amount").html('<span class="text-muted "">Subtotal:</span> &nbsp;Rs. '+get_total_amount.toString());
                  }
               } 
    });
  }

function click_to_close_payment_modal()
{
  location.reload();
}

 function do_payment(order_id)
{  

// $("#do_payments #add_stripe_button").html('<button class="btn btn-success" onclick="do_payment_by_stripe('+"'"+order_id+"'"+');">Pay with Stripe</button>');
$("#do_payments #add_paypal_button").html('<button class="btn btn-success" id="set_order_id_for_pay_pal" value="'+order_id+'" onclick="do_payment_by_paypal('+"'"+order_id+"'"+');">Pay with PayPal</button>');
  $("#do_payments #add_paytm_button").html('<a href="{{BASE_URL}}paytm-payment/paytm-payment-request/'+order_id+'"><button class="btn btn-primary">Pay with Paytm</button></a>');
  $("#do_payments #add_wallet_button").html('<button class="btn btn-info order_by_wallet" data-order_id="'+order_id+'">Pay with Wallet</button>');

 $("#do_payments #dummy_payment").html('<button data-order_id="'+order_id+'" class="btn btn-primary btn-block order_by_dummy">Do Payment</button>');
  $("#do_payments").modal('show');
} 



$(document).on("click",".order_by_wallet",function(){

var order_id = $(this).data("order_id");
$("#wallet_code_modal #order_id_set_2").text(order_id);
$("#wallet_code_modal #order_id_set").val(order_id);
$("#wallet_code_modal").modal('show');
});



$(document).on("click",".order_by_dummy",function(){

     $(".se-pre-con").css("display","block");
$.ajax({
             method:"POST",
               url:base_url+"user/wallet/fake-payment",
               data:{"order_id_set":$(this).data("order_id")},
               dataTyep:"json",
               success:function(data){
                  $(".se-pre-con").css("display","none");
                 if(data.status=="0")
                 {
                    swal("Cancelled", data.message, "error");
                     // $("#show_error_for_order_by_walllet_").html('<span class="badge badge-danger badge-pill">'+data.message+'.</span>');
                 }
                 else
                 {
                  // console.log(data);
                     window.location.href = "{{BASE_URL}}user/orders";
                 }
               }
});

});


$(document).on("submit","#order_by_my_wallet",function(){
   event.preventDefault();
     $(".se-pre-con").css("display","block");
$("#show_error_for_order_by_walllet_").html('');
$.ajax({
      method:"POST",
               url:base_url+"user/wallet/order-by-wallet",
               data:$('#order_by_my_wallet').serializeArray(),
               dataTyep:"json",
               success:function(data){
                  $(".se-pre-con").css("display","none");
                 if(data.status=="0")
                 {
                     $("#show_error_for_order_by_walllet_").html('<span class="badge badge-danger badge-pill">'+data.message+'.</span>');
                 }
                 else
                 {
                     window.location.href = "{{BASE_URL}}user/orders";
                 }
               }
});

});

$(document).ready(function(){


setInterval(function(){ 

     $.ajax({
            method:"POST",
            url:"{{BASE_URL}}user/orders/set-winner",
            dataTyep:"json",
            success:function(data)
            {
              console.log(data);
            }
   });


 $.ajax({
            method:"GET",
            url:"{{BASE_URL}}sale/set-winners-for-sale",
            dataTyep:"html",
            success:function(data)
            {
              console.log("done");
            }
   });

 $(".alert").fadeOut("fast");

}, 60000);

setInterval(function(){ 

   //   $.ajax({
   //          method:"POST",
   //          url:"{{BASE_URL}}send-email",
   //          dataTyep:"html",
   //          success:function(data)
   //          {
   //            console.log(data);
   //          }
   // });

 $(".alert").fadeOut("fast");

}, 60000);


});


$(document).ready(function(){



$.ajax({
   method:"POST",
   url:"{{BASE_URL}}get-adds",
   dataType:"json",
   success:function(data)
   {
     
      $(".show_header_banner").html(data.data.Description);

   }
});



$.ajax({
   method:"POST",
   url:"{{BASE_URL}}get_categoryes",
   dataType:"html",
   success:function(data)
   {
      $("#show_categoryes").html(data);
   }
});

});


$(document).on("click","a",function(){
 if($(this).data("toggle")!="modal" && $(this).data("set_attribute")!="modal" && $(this).attr('href') != '#' && $(this).attr('target') != '_blank' && $(this).attr('href') != 'javascript:;' && $(this).data("set_data")!="stop_loading")
 {

   $(".se-pre-con").css("display","block");  
 }

});

</script>






 <div class="modal fade" id="term_and_condition_model" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Terms & Conditions</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body ">
            
            <div class="row text-center">
            	<div class="col-md-12">

				<div class="post-body">
			<p><b>Please Accept the all Terms & Conditions so you can Hunt your favorite products without any problem. And I request you to please read all terms & conditions atleast one time.</b></p>
                </div>

            	</div>
            	<div class="col-md-12">
            		<div class="checkbox">
					  <label>
	<input type="checkbox" value="" class="condition_accept"> I accept the all <a href="{{BASE_URL}}page/term-and-condition" target="_blank">Terms & Conditions.</a></label>
					</div>
            	</div>
            </div>

          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-secondary btn-sm" type="button">Close</button>
           
          </div>
        </div>
      </div>
    </div>












 <div class="modal fade" id="enter_email_model" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Valid Email</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body ">
            
            <div class="row text-center">
            	<div class="col-md-12">

				<div class="post-body">
			<p><b>Please provide me your valid email so we can send you  information about your dream product and upcoming product. So please don’t miss this opportunity.</b></p>
                <div class="row">
              <div class="col-md-12" id="show_error_for_email_id_"></div>
            </div>
  <form class="input-group form-group" id="add_email_id" method="get"><span class="input-group-btn">
                {% csrf_token %}
                <input type="hidden" name="user_id"  value="{{user.id}}">
                <button type="submit"><i class="icon-send"></i></button></span>
                <input class="form-control" required="" type="text" name="user_email" placeholder="Enter your Email-id">
              </form>
                </div>

            	</div>
            	<div class="col-md-12">
            		<div class="checkbox">
					  <label>
	                
					</div>
            	</div>
            </div>

          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-secondary btn-sm" type="button">Close</button>
           
          </div>
        </div>
      </div>
    </div>

<script type="text/javascript">
	

$(document).on("submit","#add_email_id",function(){
   event.preventDefault();
     $(".se-pre-con").css("display","block");
     
     $("#show_error_for_email_id_").html('');
     $.ajax({
      method:"POST",
               url:base_url+"account/check_and_update_user_emai/",
               data:$('#add_email_id').serializeArray(),
               dataTyep:"json",
               success:function(data){
                  $(".se-pre-con").css("display","none");
                 if(data.status=="0")
                 {
                     $("#show_error_for_email_id_").html('<span class="badge badge-danger badge-pill">'+data.message+'.</span>');
                 }
                 else
                 {
                      swal(data.message, {
			            icon: "success",
			          }).then((value) => {
			                   location.reload();
			                  });
                 }
               }
});


});

function check_tern_and_condition(user_id)
{
   var user_id = user_id;
  
  if("{{user.email}}" == "")
  {
  	$("#enter_email_model").modal('show');
  }
  else{

  	$.ajax({
      method:"POST",
          url:"{{BASE_URL}}account/check_condition_status",
          data:{"user_id":user_id},
          dataType:"json",
          success:function(data)
          {
            if(data.status == "False")
             {
             	$("#term_and_condition_model").modal('show');
             }

          }
   });
  }
 
   
}


$(document).ready(function(){

$(".condition_accept").change(function(){
     
     if($(this).prop('checked'))
     {
     	 $(".se-pre-con").css("display","block");
     	  $.ajax({
     	  method:"GET",
          url:"{{BASE_URL}}account/update_condition_status",
          dataType:"html",
          success:function(data)
          {
             $(".se-pre-con").css("display","none");
              swal("Thank You for accept all T & C.", {
	            icon: "success",
	          }).then((value) => {
	                   location.reload();
	                  });
          }
   });
     }

 });


if('{{user.id}}' != 'None')
{
	check_tern_and_condition('{{user.id}}'); 
}


});
</script>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Payment</h4>
      </div>
      <div class="modal-body">
       <div id="paypal-button-container"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- <script src="https://www.paypal.com/sdk/js?client-id=AXfkFF5BFzrueeHJhgKySSlp2c0rxy5yCd4NetoTmv7xb-8c35NKSjkSt03Z3ptCowzgUo5J_F_eGIEk=USD&disable-funding=credit"></script>
 -->
<script src="https://www.paypal.com/sdk/js?client-id=ARgOFLmrHKY8xie_yXuKKbZx5m70qbwUEdAFCUvTQ7ERHhoqsiedfiSMNgtVfOmOG8anWe4K3Srx9usc&currency=USD&disable-funding=credit"></script>

<script type="text/javascript">
  function do_payment_by_paypal(order_id)
  {
   
$.ajax({
        url: '{{BASE_URL}}user/orders/get-order-info',
        data: {"order_id":order_id},     
        type: 'POST',
        dataType: 'JSON',
        success: function(response){
        if(response.data.total_payment>0)
        {
            var order_id_set =  order_id;
  var order_amount =  response.data.total_payment;
		$("#myModal").modal('show');
	var total = parseFloat(order_amount);
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
        	style:{
             color:'blue',
        	},

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },
            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    console.log("============");
                    console.log(order_id);
                    console.log(details.id);
                    console.log("============");
                 
                    $.ajax({
					   method:"POST",
					   url:"{{BASE_URL}}stripe-payment/update-order-status",
					   data: {"order_id":order_id_set,"trans_id":details.id},
					   datraType:"JSON",
					   success:function(data)
					   {
					   	
							window.location.href = "{{BASE_URL}}user/orders"; 
                            
					   }
					});


                   // alert('Transaction completed by ' + details.payer.name.given_name + '!');
                  $("#myModal").modal('hide');

                  swal('Transaction completed by ' + details.payer.name.given_name + '!', {
                  icon: "success",
                    }).then((value) => {
                    	
                   window.location.href = "https://imratedme.com/dashboard/";
                  });
                  // 
                });
            }


        }).render('#paypal-button-container');

        }
        	else
        	{
        		 swal("Subscription successfull.", {
                  icon: "success",
                    }).then((value) => {
                   window.location.href = "{{BASE_URL}}dashboard/";
                  });
        	}
		}
		});


   
  }
</script>






    {% block javascript %}
    {% endblock %}


<!--Start of Tawk.to Script-->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5f64f050f0e7167d0011aacf/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<!--End of Tawk.to Script-->
  </body>

</html>